Connected Services/MCIGateWayService/MCIGateWayService2.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/Framework.Models.TMS" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/Framework.Models.TMS" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="ArrayOfTradeMarkInfo">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="TradeMarkInfo" nillable="true" type="tns:TradeMarkInfo" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfTradeMarkInfo" nillable="true" type="tns:ArrayOfTradeMarkInfo" />
  <xs:complexType name="TradeMarkInfo">
    <xs:sequence>
      <xs:element minOccurs="0" name="Category" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="CategoryId" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="Description" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ImageBytes" nillable="true" type="xs:base64Binary" />
      <xs:element minOccurs="0" name="ImageName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ImageType" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="NameAr" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="NameEn" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="OwnerArabicName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ProtectionEndDate" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ProtectionStartDate" nillable="true" type="xs:decimal" />
      <xs:element minOccurs="0" name="RegistrationDate" nillable="true" type="xs:decimal" />
      <xs:element minOccurs="0" name="RequestNumber" type="xs:int" />
      <xs:element minOccurs="0" name="Status" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="StatusId" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="TMID" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="TradeMarkInfo" nillable="true" type="tns:TradeMarkInfo" />
</xs:schema>