Connected Services/MCIGateWayService/MCIGateWayService5.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/Framework.Models.LabLicenses" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/Framework.Models.LabLicenses" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="ArrayOfLabLicensesInfo">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="LabLicensesInfo" nillable="true" type="tns:LabLicensesInfo" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfLabLicensesInfo" nillable="true" type="tns:ArrayOfLabLicensesInfo" />
  <xs:complexType name="LabLicensesInfo">
    <xs:sequence>
      <xs:element minOccurs="0" name="CR" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="CRExpireDate" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ExpireDate" nillable="true" type="xs:dateTime" />
      <xs:element minOccurs="0" name="IssueDate" nillable="true" type="xs:dateTime" />
      <xs:element minOccurs="0" name="LabName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="LicenseNumber" type="xs:int" />
      <xs:element minOccurs="0" name="LicenseType" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="isCanceled" type="xs:boolean" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="LabLicensesInfo" nillable="true" type="tns:LabLicensesInfo" />
</xs:schema>