Connected Services/MCIGateWayService/MCIGateWayService8.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/Framework.Models.Nabaa" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/Framework.Models.Nabaa" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="SubmitRequestModel">
    <xs:sequence>
      <xs:element minOccurs="0" name="CorrelationId" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Recipients" nillable="true" type="tns:ArrayOfRecipient" />
      <xs:element minOccurs="0" name="TemplateId" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="SubmitRequestModel" nillable="true" type="tns:SubmitRequestModel" />
  <xs:complexType name="ArrayOfRecipient">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Recipient" nillable="true" type="tns:Recipient" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfRecipient" nillable="true" type="tns:ArrayOfRecipient" />
  <xs:complexType name="Recipient">
    <xs:sequence>
      <xs:element minOccurs="0" name="Language" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="NationalOrIqamaId" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Params" nillable="true" type="tns:ArrayOfParam" />
      <xs:element minOccurs="0" name="SendAfter" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="SendBefore" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Recipient" nillable="true" type="tns:Recipient" />
  <xs:complexType name="ArrayOfParam">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Param" nillable="true" type="tns:Param" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfParam" nillable="true" type="tns:ArrayOfParam" />
  <xs:complexType name="Param">
    <xs:sequence>
      <xs:element minOccurs="0" name="Name" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Value" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Param" nillable="true" type="tns:Param" />
  <xs:complexType name="SubmitRequestOutput">
    <xs:sequence>
      <xs:element minOccurs="0" name="BatchNumber" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Status" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="SubmitRequestOutput" nillable="true" type="tns:SubmitRequestOutput" />
  <xs:complexType name="GetStatusModel">
    <xs:sequence>
      <xs:element minOccurs="0" name="BatchNumber" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="CorrelationId" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="GetStatusModel" nillable="true" type="tns:GetStatusModel" />
  <xs:complexType name="GetStatusOutput">
    <xs:sequence>
      <xs:element minOccurs="0" name="BatchIdentifier" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Status" type="xs:int" />
      <xs:element minOccurs="0" name="StatusDiscritption" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="GetStatusOutput" nillable="true" type="tns:GetStatusOutput" />
  <xs:complexType name="GetDetailedStatusModel">
    <xs:sequence>
      <xs:element minOccurs="0" name="BatchIdentifier" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="CorrelationId" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="GetDetailedStatusModel" nillable="true" type="tns:GetDetailedStatusModel" />
  <xs:complexType name="GetDetailedStatusOutput">
    <xs:sequence>
      <xs:element minOccurs="0" name="BatchIdentifier" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Recipients" nillable="true" type="tns:ArrayOfRecipientDto" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="GetDetailedStatusOutput" nillable="true" type="tns:GetDetailedStatusOutput" />
  <xs:complexType name="ArrayOfRecipientDto">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="RecipientDto" nillable="true" type="tns:RecipientDto" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfRecipientDto" nillable="true" type="tns:ArrayOfRecipientDto" />
  <xs:complexType name="RecipientDto">
    <xs:sequence>
      <xs:element minOccurs="0" name="NationalOrIqamaId" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Status" type="xs:int" />
      <xs:element minOccurs="0" name="StatusDeiscription" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="RecipientDto" nillable="true" type="tns:RecipientDto" />
</xs:schema>