Connected Services/MCIGateWayService/MCIGateWayService19.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/Framework.Models.GPMLicenses" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/Framework.Models.GPMLicenses" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="ArrayOfGPMLicensesInfo">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="GPMLicensesInfo" nillable="true" type="tns:GPMLicensesInfo" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfGPMLicensesInfo" nillable="true" type="tns:ArrayOfGPMLicensesInfo" />
  <xs:complexType name="GPMLicensesInfo">
    <xs:sequence>
      <xs:element minOccurs="0" name="CompanyName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ExpireDate" nillable="true" type="xs:dateTime" />
      <xs:element minOccurs="0" name="IsCanceledBySystem" nillable="true" type="xs:boolean" />
      <xs:element minOccurs="0" name="IssueDate" nillable="true" type="xs:dateTime" />
      <xs:element minOccurs="0" name="LicenseNumber" type="xs:long" />
      <xs:element minOccurs="0" name="isCanceled" type="xs:boolean" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="GPMLicensesInfo" nillable="true" type="tns:GPMLicensesInfo" />
</xs:schema>