Connected Services/MCIGateWayService/MCIGateWayService1.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/Framework.Models.HR" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/Framework.Models.HR" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="EmployeeFullData">
    <xs:sequence>
      <xs:element minOccurs="0" name="ACTSTDATE" nillable="true" type="xs:dateTime" />
      <xs:element minOccurs="0" name="ACTSTDATEHG" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="DepartmentId" type="xs:int" />
      <xs:element minOccurs="0" name="DepartmentName_Ar" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="DepartmentName_En" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="DisplayName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Email" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="EmpName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="EmpName_En" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="EmpTypeId" type="xs:int" />
      <xs:element minOccurs="0" name="EmployeeId" type="xs:int" />
      <xs:element minOccurs="0" name="JobId" type="xs:int" />
      <xs:element minOccurs="0" name="JobName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Mobile" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="NID" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Parent_Org_Id" type="xs:int" />
      <xs:element minOccurs="0" name="RankCode" type="xs:int" />
      <xs:element minOccurs="0" name="StatusId" type="xs:int" />
      <xs:element minOccurs="0" name="Telephonenumber" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="UserName" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="EmployeeFullData" nillable="true" type="tns:EmployeeFullData" />
</xs:schema>