Connected Services/MCIGateWayService/MCIGateWayService14.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/MCIBilling.WebService" xmlns:ser="http://schemas.microsoft.com/2003/10/Serialization/" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/MCIBilling.WebService" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="https://gateway.mci.gov.sa/v1/MCIGateWayService.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
  <xs:complexType name="GenerateBillSadadResponse">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:GenerateBillResponse">
        <xs:sequence>
          <xs:element minOccurs="0" name="BillId" type="xs:long" />
          <xs:element minOccurs="0" name="ReferenceNumber" type="ser:guid" />
          <xs:element minOccurs="0" name="SadadNumber" nillable="true" type="xs:long" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="GenerateBillSadadResponse" nillable="true" type="tns:GenerateBillSadadResponse" />
  <xs:complexType name="GenerateBillResponse">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:BillResponse">
        <xs:sequence>
          <xs:element minOccurs="0" name="Cost" type="xs:double" />
          <xs:element minOccurs="0" name="PricingDetails" nillable="true" type="tns:ArrayOfBillDetailPricing" />
          <xs:element minOccurs="0" name="TotalCost" type="xs:double" />
          <xs:element minOccurs="0" name="VATCost" type="xs:double" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="GenerateBillResponse" nillable="true" type="tns:GenerateBillResponse" />
  <xs:complexType name="BillResponse">
    <xs:sequence>
      <xs:element minOccurs="0" name="ErrorCode" type="xs:int" />
      <xs:element minOccurs="0" name="Message" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ResponseCode" type="tns:ResponseCode" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="BillResponse" nillable="true" type="tns:BillResponse" />
  <xs:simpleType name="ResponseCode">
    <xs:restriction base="xs:string">
      <xs:enumeration value="Success" />
      <xs:enumeration value="Error" />
    </xs:restriction>
  </xs:simpleType>
  <xs:element name="ResponseCode" nillable="true" type="tns:ResponseCode" />
  <xs:complexType name="ChangeBillResponse">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:BillResponse">
        <xs:sequence />
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="ChangeBillResponse" nillable="true" type="tns:ChangeBillResponse" />
  <xs:complexType name="CheckBillCostResponse">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:BillResponse">
        <xs:sequence>
          <xs:element minOccurs="0" name="BillDetails" nillable="true" type="tns:ArrayOfBillDetailPricing" />
          <xs:element minOccurs="0" name="Cost" type="xs:double" />
          <xs:element minOccurs="0" name="TotalCost" type="xs:double" />
          <xs:element minOccurs="0" name="VATCost" type="xs:double" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="CheckBillCostResponse" nillable="true" type="tns:CheckBillCostResponse" />
  <xs:complexType name="ArrayOfBillDetailPricing">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="BillDetailPricing" nillable="true" type="tns:BillDetailPricing" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfBillDetailPricing" nillable="true" type="tns:ArrayOfBillDetailPricing" />
  <xs:complexType name="BillDetailPricing">
    <xs:sequence>
      <xs:element minOccurs="0" name="Cost" type="xs:double" />
      <xs:element minOccurs="0" name="Desc" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="RefDesc" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="RefId" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ServiceCode" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ServiceNameAr" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ServiceNameEn" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="TotalCost" type="xs:double" />
      <xs:element minOccurs="0" name="VATCost" type="xs:double" />
      <xs:element minOccurs="0" name="VATPercentage" type="xs:double" />
      <xs:element minOccurs="0" name="billPricingStrategyResult" nillable="true" type="tns:ArrayOfBillPricingStrategyResultModel" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="BillDetailPricing" nillable="true" type="tns:BillDetailPricing" />
  <xs:complexType name="ArrayOfBillPricingStrategyResultModel">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="BillPricingStrategyResultModel" nillable="true" type="tns:BillPricingStrategyResultModel" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfBillPricingStrategyResultModel" nillable="true" type="tns:ArrayOfBillPricingStrategyResultModel" />
  <xs:complexType name="BillPricingStrategyResultModel">
    <xs:sequence>
      <xs:element minOccurs="0" name="BillDetailId" type="xs:int" />
      <xs:element minOccurs="0" name="Cost" type="xs:double" />
      <xs:element minOccurs="0" name="DescriptionAr" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="DescriptionEn" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="BillPricingStrategyResultModel" nillable="true" type="tns:BillPricingStrategyResultModel" />
  <xs:complexType name="GetBillDetailResponse">
    <xs:sequence>
      <xs:element minOccurs="0" name="BillCreationDate" type="xs:dateTime" />
      <xs:element minOccurs="0" name="BillDescription" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="BillId" type="xs:long" />
      <xs:element minOccurs="0" name="BillStatus" type="tns:BillStatus" />
      <xs:element minOccurs="0" name="Cost" type="xs:double" />
      <xs:element minOccurs="0" name="ExpireDate" nillable="true" type="xs:dateTime" />
      <xs:element minOccurs="0" name="PaymentDate" nillable="true" type="xs:dateTime" />
      <xs:element minOccurs="0" name="PaymentMethod" type="tns:PaymentMethod" />
      <xs:element minOccurs="0" name="PricingDetails" nillable="true" type="tns:ArrayOfBillDetailPricing" />
      <xs:element minOccurs="0" name="ReferenceNumber" type="ser:guid" />
      <xs:element minOccurs="0" name="SadadNumber" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="TotalCost" type="xs:double" />
      <xs:element minOccurs="0" name="VATCost" type="xs:double" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="GetBillDetailResponse" nillable="true" type="tns:GetBillDetailResponse" />
  <xs:simpleType name="BillStatus">
    <xs:restriction base="xs:string">
      <xs:enumeration value="Any" />
      <xs:enumeration value="Created" />
      <xs:enumeration value="NotPaid" />
      <xs:enumeration value="Paid" />
      <xs:enumeration value="Expired" />
      <xs:enumeration value="Canceled" />
      <xs:enumeration value="Failed" />
    </xs:restriction>
  </xs:simpleType>
  <xs:element name="BillStatus" nillable="true" type="tns:BillStatus" />
  <xs:simpleType name="PaymentMethod">
    <xs:restriction base="xs:string">
      <xs:enumeration value="Any" />
      <xs:enumeration value="SadadThiqah" />
      <xs:enumeration value="SadadMCI" />
      <xs:enumeration value="Cash" />
      <xs:enumeration value="OLP" />
      <xs:enumeration value="CreditCard" />
    </xs:restriction>
  </xs:simpleType>
  <xs:element name="PaymentMethod" nillable="true" type="tns:PaymentMethod" />
</xs:schema>