Connected Services/MCIGateWayService/MCIGateWayService22.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/Framework.Models.Sadad" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/Framework.Models.Sadad" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="GenerateBillSadadRequest">
    <xs:sequence>
      <xs:element minOccurs="0" name="BillDescription" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="BillDetails" nillable="true" type="tns:ArrayOfRequestedBillDetail" />
      <xs:element minOccurs="0" name="Email" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ExpireDate" nillable="true" type="xs:dateTime" />
      <xs:element minOccurs="0" name="MobileNo" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="RefDesc" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="RefId" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="VATNumber" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="GenerateBillSadadRequest" nillable="true" type="tns:GenerateBillSadadRequest" />
  <xs:complexType name="ArrayOfRequestedBillDetail">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="RequestedBillDetail" nillable="true" type="tns:RequestedBillDetail" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfRequestedBillDetail" nillable="true" type="tns:ArrayOfRequestedBillDetail" />
  <xs:complexType name="RequestedBillDetail">
    <xs:sequence>
      <xs:element minOccurs="0" name="BillDetailMetadata" nillable="true" type="tns:ArrayOfBillDetailMetadata" />
      <xs:element minOccurs="0" name="Cost" type="xs:double" />
      <xs:element minOccurs="0" name="Description" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="RefDesc" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="RefId" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ServiceCode" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="RequestedBillDetail" nillable="true" type="tns:RequestedBillDetail" />
  <xs:complexType name="ArrayOfBillDetailMetadata">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="BillDetailMetadata" nillable="true" type="tns:BillDetailMetadata" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfBillDetailMetadata" nillable="true" type="tns:ArrayOfBillDetailMetadata" />
  <xs:complexType name="BillDetailMetadata">
    <xs:sequence>
      <xs:element minOccurs="0" name="Key" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Value" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="BillDetailMetadata" nillable="true" type="tns:BillDetailMetadata" />
  <xs:complexType name="GetBillDetailRequest">
    <xs:sequence>
      <xs:element minOccurs="0" name="refDesc" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="refId" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="GetBillDetailRequest" nillable="true" type="tns:GetBillDetailRequest" />
  <xs:complexType name="CancelBillRequest">
    <xs:sequence>
      <xs:element minOccurs="0" name="Note" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ReferenceNumber" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="SadadNumber" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="CancelBillRequest" nillable="true" type="tns:CancelBillRequest" />
</xs:schema>