Connected Services/MCIGateWayService/MCIGateWayService20.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/Framework.Models.Professions" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/Framework.Models.Professions" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="ArrayOfProfessionInfo">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="ProfessionInfo" nillable="true" type="tns:ProfessionInfo" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfProfessionInfo" nillable="true" type="tns:ArrayOfProfessionInfo" />
  <xs:complexType name="ProfessionInfo">
    <xs:sequence>
      <xs:element minOccurs="0" name="City" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Expiredate" nillable="true" type="xs:dateTime" />
      <xs:element minOccurs="0" name="LicenseName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="LicenseNo" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="LicenseStatus" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="LicenseStatusID" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="NationalID" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="OfficeAddress" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="OfficeName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="OfficeTelephone" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="PersonEmail" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="PersonMobile" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="PersonName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="PersonProfession" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Profession" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Region" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Specialization" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="StartDate" nillable="true" type="xs:dateTime" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ProfessionInfo" nillable="true" type="tns:ProfessionInfo" />
  <xs:complexType name="ArrayOfTicketInfo">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="TicketInfo" nillable="true" type="tns:TicketInfo" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfTicketInfo" nillable="true" type="tns:ArrayOfTicketInfo" />
  <xs:complexType name="TicketInfo">
    <xs:sequence>
      <xs:element minOccurs="0" name="CreationDate" nillable="true" type="xs:dateTime" />
      <xs:element minOccurs="0" name="Name" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="PaymentFlag" nillable="true" type="xs:boolean" />
      <xs:element minOccurs="0" name="SadadRefNo" nillable="true" type="xs:long" />
      <xs:element minOccurs="0" name="TicketId" type="xs:int" />
      <xs:element minOccurs="0" name="TicketViolations" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="TotalPrice" nillable="true" type="xs:double" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="TicketInfo" nillable="true" type="tns:TicketInfo" />
</xs:schema>