Connected Services/MCIGateWayService/MCIGateWayService21.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/Framework.Models.Permissions" xmlns:ser="http://schemas.microsoft.com/2003/10/Serialization/" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/Framework.Models.Permissions" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="https://gateway.mci.gov.sa/v1/MCIGateWayService.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
  <xs:complexType name="GetUserPermissionsRequest">
    <xs:sequence>
      <xs:element minOccurs="0" name="SystemId" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="UserName" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="GetUserPermissionsRequest" nillable="true" type="tns:GetUserPermissionsRequest" />
  <xs:complexType name="GetUserPermissionsResponse">
    <xs:sequence>
      <xs:element minOccurs="0" name="LocationCode" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="LocationName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Permissions" nillable="true" type="tns:ArrayOfUserPermission" />
      <xs:element minOccurs="0" name="Username" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="GetUserPermissionsResponse" nillable="true" type="tns:GetUserPermissionsResponse" />
  <xs:complexType name="ArrayOfUserPermission">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="UserPermission" nillable="true" type="tns:UserPermission" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfUserPermission" nillable="true" type="tns:ArrayOfUserPermission" />
  <xs:complexType name="UserPermission">
    <xs:sequence>
      <xs:element minOccurs="0" name="DelegatedFrom" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="EndDate" nillable="true" type="xs:dateTime" />
      <xs:element minOccurs="0" name="Name" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="PermissionCode" type="ser:guid" />
      <xs:element minOccurs="0" name="PermissionType" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="RoleId" nillable="true" type="xs:long" />
      <xs:element minOccurs="0" name="RoleName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="StartDate" nillable="true" type="xs:dateTime" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="UserPermission" nillable="true" type="tns:UserPermission" />
</xs:schema>